@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

@font-face {
  font-family: 'inter';
  src: url(inter.ttf) format('truetype');
}

/* Custom styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: visible;
}

